.meta-container {
    border: 1px solid teal;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.row1 {
    display: flex;
    border: 1px solid teal;
    padding: 10px;
    justify-content: space-around;
}

.row2 {
    display: flex;
    border: 1px solid teal;
    padding: 10px;
    flex-wrap: wrap;

    justify-content: space-around;
    height: 350px;
}
.row2 img{
    padding: 10px;
    justify-content: space-around;
    height: 150;
    width: 150;

}

.row2 p {
    white-space: pre;
}
